.light {
    --bg-color: #d6d6d6;
    --inverted-bg-color: #000a53;

    --primary-color: #0224cb;
    --secondary-color: #3b56f5;
    --inverted-primary-color: #009c08;
    --inverted-secondary-color: #00d40b;
}